process {

    withName: BWA_INDEX {
        container = { 
            if (workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container) {
                'https://depot.galaxyproject.org/singularity/bwa:0.7.18--he4a0461_0'
            } else {
                'biocontainers/bwa:0.7.18--he4a0461_0'
            }
        }
        conda=null
    }

    withName: BWA_MEM {
        container = { 
            if (workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container) {
                'https://depot.galaxyproject.org/singularity/mulled-v2-fe8faa35dbf6dc65a0f7f5d4ea12e31a79f73e40:1bd8542a8a0b42e0981337910954371d0230828e-0'
            } else {
                'biocontainers/mulled-v2-fe8faa35dbf6dc65a0f7f5d4ea12e31a79f73e40:1bd8542a8a0b42e0981337910954371d0230828e-0'
            }
        }
        conda=null
    }

    
    withName: MOBSUITE_RECON {
        container = { 
            if (workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container) {
                'https://depot.galaxyproject.org/singularity/mob_suite%3A3.0.3--pyhdfd78af_0'
            } else {
                'biocontainers/mob_suite:3.0.3--pyhdfd78af_0'
            }
        }
        conda=null
    }
    withName: CHECKM_LINEAGEWF {
        container = { 
            if (workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container) {
                'https://depot.galaxyproject.org/singularity/checkm-genome:1.2.3--pyhdfd78af_1'
            } else {
                'biocontainers/checkm-genome:1.2.3--pyhdfd78af_1'
            }
        }
        conda=null
    }

    withName: KRAKEN2_MAIN {
    container = { 
        if (workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container) {
            'https://depot.galaxyproject.org/singularity/mulled-v2-8706a1dd73c6cc426e12dd4dd33a5e917b3989ae:c8cbdc8ff4101e6745f8ede6eb5261ef98bdaff4-0'
        } else {
            'biocontainers/mulled-v2-8706a1dd73c6cc426e12dd4dd33a5e917b3989ae:c8cbdc8ff4101e6745f8ede6eb5261ef98bdaff4-0'
        }
    }
    conda=null
    }

    withName:runNfCoreMag {
          time = 500.h
    }
    withName: METACC_NORM{
        container = "file://image/metacc.sif"
    
    }
    withName: METACC_BIN{
        container = "file://image/metacc.sif"
    }
}